
.explore-menu {
    margin: 0;
    gap: 30px;
}
.explore-menu-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

}
.explore-menu h1{
    font-size: 3vw;
    color: #242424;
    font-weight: 500;

}

.explore-menu-text{
    display: flex;
    columns: #808080;
    text-align: center;
    font-size: 1.3vw;
    font-style: italic;
    margin: auto;
    width: 60%;
}

.explore-menu-list{
    width: 75%;
    display: flex;
    margin:  auto;
    padding: 100px;
    padding-left: 15px;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
   border-radius: 10%;
   text-align: center;
   overflow-x: scroll;
   scrollbar-width: none;
   scroll-behavior: smooth;
}
.explore-menu-list:hover{
    cursor: pointer;
}
.explore-menu-list-item img{
    width: 9vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transform: 0.2s;
}
.explore-menu-list-item img:hover{
    transform: scale(1.08);
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #000000;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
    border: 4px solid rgb(255, 83, 53);
    padding: 2px;
}