.header{
    width: 60%;
    margin: 4vw auto;
    height: 34vw;
    position: relative;
    background-size: contain;
    transition: all 0.28s ease-in-out;
}

.header-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    max-width: 80%;
    gap: 1.2vw;
    left: 7vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 600;
    cursor: pointer;
    color: #484848;
    font-size: max(4.5vw,22px);
    background-size: 200%;
}
.header-contents h2:hover{
    transform: scale(1.015);
}
.header-contents p{
    color: black;
    font-size: 1.2vw;
    width: 75%;
    font-style: italic;
    margin-top: -1.9vw;
    font-weight: 500;
}
.header-contents button{
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 1vw 2.3vw;
    margin-top: 2.5vw;
    background-color: tomato;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

.header-contents button:active{
    opacity: 0.85;
    scroll-behavior: smooth;
}

@keyframes shine{
    from{
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff
        0 0 20px #000;
    }

    to{
        text-shadow: 0 0 10px #fff,
        0 0 5px #000,
        0 0 20px #000;
    }

}