.footer-logo h1{
    margin: auto;
    padding-top: 40px;
    margin-left: 60px;
    font-style:oblique;
    list-style: none;
    width: 80%;
    font-weight: 600;
    letter-spacing: 2.8px;
}
.footer {
    background-color: hsl(0, 0%,0%) ;
    color: aliceblue;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.footer-content h3{
    font-weight: 600;
    margin-left: 2vw;
    font-size: 1.3vw;

}
.list{
    list-style: none;
    cursor: pointer;
    color: rgb(188, 188, 188);
    font-size: 1.1vw;
    margin-top: -8px;
}
.footer-copyright p{
    align-items: center;
}

.bottom-line{
    border-top: solid 0.5px white;
    margin-top: 40px;
}

.bottom-line p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.store-logo{
    width: 80%;
}

.store-logo:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.store-logo1{
    width: 35px;
    cursor: pointer;
}
.store-logo1:hover{
    transform: scale(1.06);
}

.footer-social-icons:hover{
    cursor: pointer;
    transform: scale(1.007);
}