.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    transition: 0.3s;
    animation: fadeIn 1s;
    margin-bottom: 50px;
    padding: 8px;
}
.food-item:hover{
    box-shadow: 0px 0px 5px rgb(130, 130, 130);
    transform: scale(1.01);

}
.food-item-image{
    width: 100%;
    border-radius: 15px;
}
.food-item-image:hover{
    transform: scale(1);
}
.food-item-info{
    padding: 0px 10px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p{
    font-size: 20px;
    font-weight: 550;
}

.food-item-name-rating img{
    width: 15px;
}
.food-rating{
    display: flex;
    position: sticky;
    align-items: center;
    gap: 5px;
}
.food-rating p{
    font-size: 17px;
}
.food-rating img{
    display: inline-block;
    height: 12px;
    width: 12px;
}
.food-item-description{
    color: #676767;
    margin-top: -10px;
    font-size: 15px;
}

.food-item-price{
    color: rgb(0, 82, 0);
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    right: 15px;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    border-radius: 50px;
    background:linear-gradient(to left,silver,rgb(255, 250, 250));
}
.food-item-counter img{
    width: 20px;
    cursor: pointer;
}